<footer>
    <div class="Contenedor-footer">
      <div class="contenido-foot">
        <h4>Integrantes del equipo</h4>
        <ul>
            <li>Nilce</li>
            <li>Jorgelina Colombini</li>
            <li>Ivo Rizzo</li>
            <li>Marcos Przewoznik</li>
        </ul>
      </div>
      <div class="contenido-foot">
        <h4>Proyecto hecho para SeniorITy</h4>
        <p>info@SeniorITy.com.ar/p>
      </div>
    </div>
      <h2 class="Titulo-final">&copy; MP Design | The Bohemian Dev |</h2>
  </footer>