<div class="row justify-content-center">
    <div class="col-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let producto of productos">
                    <tr *ngIf="producto.stock > 0">
                        <td ><img src="{{producto.image}}" alt="{{producto.name}"></td>
                        <td >{{producto.name}} </td>
                        <td >{{producto.price | currency: 'ARS'}}</td>
                        <td >{{producto.stock}}</td>
                        <td>
                            <div class="input-group input-group-sm mb-3">
                                <button type="button" class="btn btn-light btn-sm" (click)="upQuantity(producto)">+</button>
                                <input type="number"  [(ngModel)]="producto.quantity" (focusout)="verifyProductoQuantity(producto)">
                                <button type="button" class="btn btn-light btn-sm" (click)="downQuantity(producto)">-</button>
                            </div>
                        </td>
                    </tr>
                </ng-container>    
            </tbody>
        </table>
    </div>
    <app-checkout></app-checkout>
</div>

