<header>
    <img class="logo" src="../assets/Images/logo.jpg" alt="Logo de Pizzería Don Rémolo">
    <nav>
        <ul class="nav_links">
            <li><a href="">Inicio</a> <!--agrego routing--></li>
            <li><a href="/Pizzas">Pizzas</a> <!--agrego routing--></li>
            <li><a href="/Empanadas">Empanadas</a> <!--agrego routing--></li>
            <li><a href="/Bebidas">Bebidas</a> <!--agrego routing--></li>
            <li><a href="/Postres">Postres</a> <!--agrego routing--></li>
        </ul>
    </nav>
    <i class="fa-solid fa-cart-shopping"></i>
</header>